<!DOCTYPE html>
<html lang="en">
  <head>
  <link rel="shortcut icon" href="">
    <title>MadTechFinal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <%# <script src="https://js.stripe.com/v3/"></script> %>
  </head>

  <body class = "container">
      <%= render 'layouts/messages' %>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="/mt.png" width="90" height="90">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Home
      </a>
      <a class="navbar-item" href="/categories">
        Category
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" >
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href='/about'>
            About
          </a>
          <a class="navbar-item" href='/contact'>
            Contact
          </a>
          <hr class="navbar-divider">
        </div>
      </div>
      <a class="navbar-item">
  <%= form_tag(search_page_path, :method => "get",
    class: 'navbar-form navbar-left') do %>
    <%= search_field_tag :search, params[:search], placeholder: "Search", class: "input is-primary" %>
    <% end %>
</a>
    </div>
      <% if !customer_signed_in?%>
            <a class="navbar-item" href="/customers/sign_in" >
                Login
            </a>
          <%else%>
             <a class="navbar-item" href="/customers/edit">
                Profile
            </a>
            <a   class="navbar-item" href="/my_orders" >
                My Orders
            </a>

            <a class="navbar-item" href="/customers/sign_out"  data-method="delete" rel="nofollow">
                Log out
            </a>
          <%end%>

    <div class="navbar-end cart">
          <div id="navbar-item">
            <span class="fa-stack fa-1x" data-count="5" href="/cart">
            <a href="/cart">
           <i  class="fa fa-shopping-cart fa-stack-2x"></i>
           </a>
          </span>
    </div>
    </div>
  </div>
</nav>
    <%= yield %>
  </body>
</html>
